:root {
    --lg-border-radius: 0.3rem;
    --sm-border-radius: 0.2rem;

    --bg-color1: hsl(226, 41%, 10%);
    --bg-color2: hsl(226, 28%, 19%);
    --body-bg-color: hsla(226, 50%, 98%, 0.1);
    --light-text-color: hsl(226, 40%, 95%);
    --dark-text-color: hsla(226, 10%, 30%);
    --light-border-color: hsla(226, 40%, 95%, 1);
    --light-border-color-transparent: hsla(226, 40%, 95%, 0.5);
    --dark-border-color: hsla(226, 40%, 5%, 0.5);
    --content-bg-color-light1: hsla(135, 90%, 60%, 0.5);
    --content-bg-color-light2: hsla(135, 90%, 60%, 0.6);
    --content-bg-color-light3: hsla(276, 63%, 51%, 0.5);
    --content-bg-color-light4: hsla(276, 90%, 60%, 0.6);
    --content-bg-color-1: hsl(226, 80%, 95%, 0.3);
}

html {
    background: var(--bg-color1);
    background: url(./images/photos/aurora-borealis-bg-3000x2000.jpg) no-repeat center top fixed var(--bg-color1);
    /* linear-gradient(90deg, var(--bg-color1) 0%, var(--bg-color2) 50%, var(--bg-color1) 100%); */
    margin: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    max-width: 80rem;
    background: var(--body-bg-color);
    margin: 0 auto;
    color: var(--light-text-color);
    border-radius: var(--lg-border-radius);
    box-shadow: 7px 7px 12px -3px rgba(0, 0, 0, 0.1);

    display: grid;
    grid: "header sidebar" auto "main sidebar" 1fr "footer footer" auto / 1fr minmax(20rem, 30%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}

header {
    grid-area: header;
    border-bottom: 1px solid var(--light-border-color);
}

main {
    grid-area: main;
}

.header-container {
    display: flex;
    gap: 4rem;
    margin: 1rem;
    align-items: center;
}

.title-card {
    display: inline-block;
    margin: 0 0 2rem 0;
}

.title {
    font-size: 120px;
    margin: 0 0 -2rem 0;
    white-space: nowrap;
}

.subline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subline-logo {
    height: 36px;
    width: auto;
    margin: 0 0.2rem;
}

.subtitle {
    font-size: 36px;
    margin: 0.2rem 0 0 0;
}

.sidebar {
    grid-area: sidebar;
    color: var(--light-text-color);
    padding: 1rem;
    /* border-left: 1px solid var(--light-border-color); */
}

.square-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.about-me {
    margin: 1rem auto;
    border-radius: var(--lg-border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    color: var(--dark-text-color);
    background: var(--content-bg-color-light2);
    background:
        linear-gradient(0deg, var(--content-bg-color-light2), var(--content-bg-color-light1) 100%),
        linear-gradient(75deg, var(--content-bg-color-light3), var(--content-bg-color-light4) 100%);

    box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 3px rgba(129, 129, 129, 0.1);
}

.about-me-text>h1 {
    font-size: 3rem;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.about-me-text {
    padding: 1rem 2rem;
    font-size: 20px;
}