:root {
    --lg-border-radius: 0.3rem;
    --sm-border-radius: 0.2rem;

    --bg-color1: hsl(226, 41%, 10%);
    --bg-color2: hsl(226, 28%, 19%);
    --body-bg-color: hsla(226, 50%, 98%, 0.1);
    --light-text-color: hsl(226, 40%, 95%);
    --dark-text-color: hsla(226, 10%, 10%);
    --dark-link-color: hsla(226, 75%, 25%);
    --light-border-color: hsla(226, 40%, 95%, 1);
    --light-border-color-transparent: hsla(226, 40%, 95%, 0.5);
    --dark-border-color: hsla(226, 40%, 5%, 0.5);
    --content-title-bg-color1: hsla(135, 50%, 10%, 0.8);
    --content-bg-color-light1: hsla(135, 90%, 60%, 0.7);
    --content-bg-color-light2: hsla(135, 90%, 60%, 0.6);
    --content-bg-color-light3: hsla(340, 80%, 55%, 0.7);
    --content-bg-color-light4: hsla(340, 80%, 55%, 0.6);
    --content-bg-color-1: hsl(226, 80%, 95%, 0.3);
    --tag-bg-color-red: hsla(350, 89%, 55%, 0.9);
    --tag-bg-color-green: hsla(110, 89%, 55%, 0.9);
    --tag-bg-color-blue: hsla(212, 89%, 55%, 0.9);
    --tag-bg-color-purple: hsla(290, 89%, 55%, 0.9);
    --tag-bg-color-orange: hsla(36, 89%, 55%, 0.9);
}


html {
    box-sizing: border-box;
    background: var(--bg-color1);
    background: url(./images/photos/aurora-borealis-bg-3000x2000.jpg) no-repeat center top fixed var(--bg-color1);
    /* linear-gradient(90deg, var(--bg-color1) 0%, var(--bg-color2) 50%, var(--bg-color1) 100%); */
    margin: 1rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    max-width: 80rem;
    background: var(--body-bg-color);
    margin: 0 auto;
    color: var(--light-text-color);
    border-radius: var(--lg-border-radius);
    box-shadow: 7px 7px 12px -3px rgba(0, 0, 0, 0.1);

    display: grid;
    grid: "header sidebar" auto "main sidebar" 1fr "footer footer" auto / 1fr minmax(20rem, 30%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body a {
    color: var(--dark-link-color)
}

header {
    grid-area: header;
    border-bottom: 1px solid var(--light-border-color);
}

main {
    grid-area: main;
}

.img-shadow {
    filter: drop-shadow(1px 1px 3px hsla(1, 0%, 0%, 0.5));
}

.header-container {
    display: flex;
    gap: 4rem;
    margin: 1rem;
    align-items: center;
    text-shadow: 1px 1px 3px hsla(1, 0%, 0%, 0.5);
}

.title-card {
    display: inline-block;
    margin: 0 0 2rem 0;
}

.title {
    font-size: 10rem;
    margin: 0 0 -2rem 0;
    white-space: nowrap;
}

.subline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subline-logo {
    height: 3rem;
    width: auto;
    margin: 0 0.2rem;
}

.subtitle {
    font-size: 3rem;
    margin: 0.2rem 0 0 0;
}

.sidebar {
    grid-area: sidebar;
    color: var(--light-text-color);
    padding: 1rem;
}

.square-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.card-img-top {
    opacity: 0.85;
    margin: 0;
    width: 100%;
    border-radius: var(--lg-border-radius);

}

.card {
    border-radius: var(--lg-border-radius);
    box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 3px rgba(129, 129, 129, 0.1);
    padding: 0.25rem;
}

.card.card-pad-b {
    padding-bottom: 1rem;
}

.card.card-bg-1 {
    color: var(--dark-text-color);
    background: var(--content-bg-color-light2);
    background:
        linear-gradient(0deg, var(--content-bg-color-light2), var(--content-bg-color-light1) 100%);
}

.card.card-bg-2 {
    color: var(--dark-text-color);
    background: var(--content-bg-color-light3);
    background:
        linear-gradient(75deg, var(--content-bg-color-light3), var(--content-bg-color-light4) 100%);
}

.card-bg-1 .card-header {
    color: var(--dark-text-color);
    background: hsla(135, 60%, 70%, 0.9);
    box-shadow: 1px 1px 5px hsla(1, 0%, 0%, 0.5);
}

.card-bg-2 .card-header {
    color: var(--dark-text-color);
    background: hsla(332, 67%, 60%, 0.9);
    box-shadow: 1px 1px 5px hsla(1, 0%, 0%, 0.5);
}

.card .card-img-container {
    position: relative;
}

.card .card-header {
    width: fit-content;
    position: relative;
}

.card .card-header.card-header-right {
    margin-left: auto;
    right: -0.5rem;
}

.card .card-header.card-header-left {
    left: -0.5rem;
}

/* if header inside img conatiner, position over top of img */
.card .card-img-container>.card-header.card-header-right {
    position: absolute;
    top: 1rem;
}

/* if header inside img conatiner, position over top of img */
.card .card-img-container>.card-header.card-header-left {
    position: absolute;
    top: 1rem;
}

.card .card-header.card-header-lg {
    font-size: 3rem;
    padding: 0rem 2rem;
    border-radius: var(--sm-border-radius);
}

.card .card-header.card-header-sm {
    font-size: 2rem;
    padding: 0rem 1.5rem;
    border-radius: var(--sm-border-radius);
}

.card .card-text-lg {
    font-size: 1.2rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0;
}

.card .card-text-sm {
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0;
}

.projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
    gap: 0.25rem;
    list-style: none;
    font-size: 0.75rem;
}

.tags>li {
    white-space: nowrap;
}

.tag {
    border-radius: 0.25rem;
    padding: 0.25rem;
    opacity: 0.8;
}

.red-bg {
    background-color: var(--tag-bg-color-red);
}

.green-bg {
    background-color: var(--tag-bg-color-green);
}

.blue-bg {
    background-color: var(--tag-bg-color-blue);
}

.purple-bg {
    background-color: var(--tag-bg-color-purple);
}

.orange-bg {
    background-color: var(--tag-bg-color-orange);

}

footer {
    grid-area: footer;
    color: var(--dark-text-color);
    margin: 0.5rem 0 0 0;
    padding: 0.5rem 0 0 0;
    border-top: 1px solid var(--light-border-color);
}